#display{
    background: #222;
    color: white;
    padding: 20px;
    text-align: right;
    font-size: 24px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

button {
    padding: 20px;
    font-size: 18px;
}